#contact{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #001c55;
    margin-top: 70px;
    margin-bottom: 30px;
}

.cflex1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #001c55;
    margin-top: 100px;
}

.cflex2{
    width: 150px;
    margin: auto;
    margin-top: 30px;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}

.cimage{
    width: 800px;
    height: 500px;
}

.ctext2{
    font-size: 20px;
    /* margin-top: -30px; */
    font-weight: 500;
    font-family:monospace;
}

.cbox{
    width: 650px;
}

.cprofile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.cprofilebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    #contact{
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 20px;
        color: #001c55;
        margin-top: 30px;
        margin-bottom: -60px;
    }
    
    .cimage{
        width: 400px; 
        height: 100px;
    }

    .ctext1{
        font-size: 20px;
        font-weight: 500;
    }


    .ctext2{
        font-size: 14px;
    }

    .cflex2{
        width: 150px;
        margin: auto;
        margin-top: 15px;
        gap: 15px;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .cprofile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    
  }


  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #contact{
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
        color: #001c55;
        margin-top: 70px;
        margin-bottom: -40px;
    }
    
    .cimage{
        width: 300px;
        height: 200px;
    }


    .ctext{
        font-weight: 700;
        font-size: 30px;
    }

    .ctext2{
        font-size: 17px;
    }

    .cprofile{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 50px;
    }
}  