.fText{
    background-color: rgb(193, 223, 243);
    margin-top: 50px;
    padding-top: 10px;
    color: rgb(0, 28, 85);
    /* color: rgb(95, 148, 255); */
}

.fFlex{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(193, 223, 243);
    padding-bottom: 10px;
    color: rgb(0, 28, 85);
}