.nflex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    color: rgb(0, 28, 85);
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(193, 223, 243);
    position: fixed;
    top: 0;
    margin-bottom: 50px;
}

.nimage{
    width: 150px;
    height: 50px;
}


.ntext2{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nflex1:hover{
    color: rgb(19, 88, 226);
}

.mobile-menu{
    display: none;
}


@media screen and (max-width:780px){
    .nflex{
        height: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nimage{
        display: flex;
         top: 15px;
        left: 10px; 
    }

    .ntext2{
        display: none; 
        color: red;
     } 

    .ntext2-mobile{
        width: 60%;
        display:block;
        margin: auto;
        line-height: 45px;
        margin-top: 55px;
        margin-right: -25%;
        text-align: center;
         background-color:  rgb(193, 223, 243);
    }

    .nflex1{
        width: 100%;
        justify-content: center;
        align-items: center;
        color: rgb(0, 28, 85);
        border-bottom: 0.5px solid rgb(144, 181, 255);
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        width: 50px;
        font-size: 70px;
        color: rgb(0, 28, 85);
        background-color: rgb(193, 223, 243);
        display: flex;
        top: 15px;
        right: 10px; 
    }

    .mobile-menu>button{
        /* font-size: 100px; */
        background-color: rgb(193, 223, 243);
    }

}



